.feature-grids {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	text-align: center;

	@include media(tablet-landscape) {
		grid-template-columns: 300px 350px 300px;
	}

	@include media(tablet-portrait-only) {
		&.sm-grid-2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--col {
		padding-bottom: 2rem;

		@include media( tablet-portrait-only ) {
			.sm-grid-2 & {
				border-bottom: 1px solid $color-border;

				&:nth-child(2n+1) {
					padding-right: 1rem;
					border-right: 1px solid $color-border;
				}
		
				&:nth-child(2n) {
					padding-left: 1rem;
					border-right: 0;
				}
		
				&:not(:nth-child(-n + 2)) {
					padding-top: 2rem;
				}
		
				&:nth-last-child(-n + 2) {
					border-bottom: 0;
				}
			}
		}

		@include media(tablet-landscape) {
			border-right: 1px solid $color-border;
			padding-right: 50px;
			padding-bottom: 48px;

			&:nth-child(3n - 7) {
				padding-right: 50px;
				padding-left: 50px;
			}
	
			&:nth-child(3n) {
				padding-right: 0;
				padding-left: 50px;
				border-right: 0;
			}
	
			&:not(:nth-child(-n + 3)) {
				padding-top: 48px;
			}
	
			&:nth-last-child(-n + 3) {
				border-bottom: 0;
			}
		}

		img {
			margin-bottom: $spacing-xs;

			@include media(tablet-portrait) {
				margin-bottom: $spacing-md;
			}
		}
	}
}